body{
 
    margin: 0;
    padding: 0;

}

.side{
    position: relative;
    background: linear-gradient(225.63deg, #37445B -17.16%, #19202C 79.72%);

    
}

.mike{
    color: #FFFFFF;
    font-size: 68px;
    font-weight: 700;
    line-height: 81px;
    letter-spacing: 0px;
    margin-left: 100px;

}

.shoe-img{
   
    margin-left: 60px;
    margin-bottom: 60px;
}

.shoe-small{
    display: none;
}

.fti{
    margin-left: 100px;
    margin-bottom: 60px;
}

.fti1{
    display: none;
}

.fti1 .img{

    display: none;

} 

.fti .img{
    width: 30px;
    height: 30px;
    background-color: #37445B;
    border-radius: 100%;
    text-align: center
} 

.fti .img:hover{
    cursor: pointer;
}

.header{
    margin-left: 35px;
    position: relative;
    z-index: 3;
}

.header-bar{
    margin-left: 100px; 
}

.menu1:hover {
    cursor: pointer;
}

.menu2{
    display: none;
}

.menu2:hover{
    cursor: pointer;
}

.search{
    width: 263px;
    height: 48px;
    background-color: #ECEFF2;
    border-radius: 24px;
    opacity: 0.5;
}

.cart-item{
    width: 85px;
}

.cart-item{
    cursor: pointer;
}

.small-cart{
    display: none;
}

.search img:hover{
    cursor: pointer;
}

.i_search{
    width: 75%;
    border: none;
    outline: none;
    background-color: #ECEFF2;
    margin-left: 15px;
    margin-top: 11px;
    margin-right: 5px;
}

.small-img{
    display: none;
}

.badges{
    background-color: #ECEFF2;
    font-size: 15px;
    width: 25px;
    text-align: center;
    border-radius: 100%;
    margin-left: 2px;
}

.caret{
    font-size: 10px;
    height: 15px;
    margin-top: 3px;
    margin-right: 5px;
    margin-left: 5px;
}

.filter{
    margin-top: 30px;
    margin-left: 35px;
}

.filter p{
    font-size: 14px;
    font-weight: 500;
}

.rating{
    margin-left: 35px;
}

.checked {
    color: orange;
  }

.is_not_checked{
    color: #EDEDED;
}
.votes{
    margin-left: 18px;
}

.votes p{
    font-size: 14px;
    font-weight: 500;
    color:#3F88EB;
    border-bottom: 2px solid #3F88EB;
}

.votes p span{
    margin-right: 3px;
}



.item{
    font-size: 50px;
    font-family: 'Playfair Display', serif;    
    width: 80%;
    line-height: 55px;
    margin-top: 15px;
    margin-left: 35px;
}

.price{
    margin-left: 35px;
}

.price-off{
    font-size: 32px;
    font-family: 'Lato', sans-serif;
}

.price-off img{
    width: 26px;
    height: 26px;
    margin-top: -8px;
    margin-right: -5px;
}

.price-org{
        font-size: 16px;
        font-weight: 500;
        margin-top: 15px;
        letter-spacing: 0px;
        margin-left: 20px;
        opacity: 0.4;
        text-decoration-line: line-through;
        text-decoration-thickness : 2px;
}

.price-org img{
   margin-top: -5px;
   width:12px;
   height:12px;
}

.disp{
    margin-left: 35px;
}

.disp p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #19202C;
    width: 80%;

}






.selection{
    margin-left: 35px;
}

.circle{
    
    border: 2px solid #EDEDED;
    box-sizing: border-box;
    border-radius: 21px;
    width: fit-content;
    padding: 8px;
}

.color-section{
    width: fit-content;
}

.color{
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    margin-bottom: -10px;
}

.circle div{
    width: 24px;
    height: 24px;
    border-radius: 100%;

}

.c1{
    background-color: #3E3E3E;
    text-align: center;
    
}

.circle .bi-check{
    color: white;
    font-size: 20px;
   
}

.circle span{
     margin-top: -6px;
     margin-left: -23px;
}

.c2{
    background-color: #F3F3F3;
    margin: 0 7px 0 7px;
}

.c3{
    background-color: #7A3050;
}

.circle .c1,.c2,.c3,.bi-check:hover{
    cursor: pointer;
}

.size-section{
    width: fit-content;
    margin: 0 40px 0 40px;
}

.size-title{
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    margin-bottom: -10px;
}

.size{
    border: 2px solid #EDEDED;
    box-sizing: border-box;
    border-radius: 21px;
    width: fit-content;
    width: 103px;
    align-items: center;
    justify-content: space-between;
}

.size p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #202124;
    margin: 7px 15px 7px 18px;
    
}

.size span{
    margin-right: 18px;
    margin-bottom: 3px;
}

.size .bi-chevron-down{

    font-weight: bold;
}

.size .bi-chevron-down:hover{
    cursor: pointer;
}

.quantity-section{
    width: fit-content;
}

.quantity{
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    margin-bottom: -10px;
}

.quantity-bar{
    border: 2px solid #EDEDED;
    box-sizing: border-box;
    border-radius: 21px;
    width: fit-content;
    align-items: center;
}

.quantity-bar p{

    font-size: 14px;
    margin: 8px 12px 8px 12px;
}

.quantity-bar .s1{
    margin: -3px 4px 0 14px;

}

.quantity-bar .s1,.s2:hover{
    cursor: pointer;
}

.quantity-bar .s2{
    margin: -3px 14px 0 4px;

}



/* .quantity-bar p:hover{
    cursor: default;
} */




.addtocart{
    margin-left: 35px;
}

.cart-section{
    margin-top: 50px;
}

.whishlist{
    margin-top: 50px;
}

.cart .btn{
    font-size: 18px;
    background-color: #3F88EB;
    color: white;
    font-weight: 600;
    border-radius: 100px;
    padding: 12px 55px 12px 55px;
    
}

.cart .btn:hover{
    color: white;

}

.cart .btn:focus {
    outline: none;
    box-shadow: none;
  }

.cart img{
    margin-top: -8px;
    margin-right: 5px;
}

.whishlist p{

    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
    margin-left: 35px;

}

.whishlist span{
    margin-right: 10px;
}
.whishlist span:hover{
    cursor: pointer;
}

.delivery{
    font-size: 14px;
    font-weight: 400;
    margin-left: 35px;
    margin-top: 25px;
}



@media only screen and (max-width:376px) {

    /* For mobile: */

   

    .mk{
        background: linear-gradient(225.63deg, #37445B -17.16%, #19202C 79.72%);
        width: 106.5%;
        margin-left: -12px;
    }

    .mike{
        color: white;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0px;
        margin-left: 25px;
        margin-bottom: 0;
        padding: 55px 0 25px 0;
    }

    .header{
        margin-top: 25px;
    }

    .header-bar{
        margin-left: 10px; 
    }

    .cart-item{
        width: 60px;
    }

    .black-cart{
        display: none;
    }

    .small-cart{
        display: inline;
    }

    .menu1{
        display: none;
    }

    .menu2{
        display: inline;
    }

    .i_search{
        display: none;
    }

    .search{
       display: none;
    }

    .small-img{
        display: inline;
        margin-left: 130px;
        margin-right: 20px;
        margin-top: 5px;
    }

    .side{
        position: absolute;
        padding: 0;
        /* background: linear-gradient(225.63deg, #37445B -17.16%, #19202C 79.72%); */
        background: none;
    }

    .filter{
        margin-top: 40px;
        margin-left: -10px;
    }

    .item{
        font-size: 27px;
        font-family: 'Playfair Display', serif;    
        width: 100%;
        line-height: 55px;
        margin-top: -10px;
        margin-left: 5px;
    }

    .rating{
        margin-left: -10px;
        margin-top: 210px;
    }

    .price{
        margin-left: -10px;
    }

    .disp{
        margin-left: -10px;
        margin-top: 5px;
    }

    .disp p{
        width: 108%;
    }

    .selection{
        margin-left: -10px;
    }

    .circle{
        border: 2px solid #EDEDED;
        box-sizing: border-box;
        border-radius: 21px;
        width: fit-content;
        padding: 4px;
    }

    .circle div{
        width: 19px;
        height: 19px;
    }

    .circle .bi-check{
        font-size: 18px;
    }

    .circle span{
        margin-top: -7px;
        margin-left: -19px;
    }

    .size{
       width: 80px;
    }

    .size p{
            font-size: 12px;
            margin: 5px 22px 5px 12px;
    }
    
.quantity-bar p{
    font-size: 12.5px;
    margin: 5px 8px 5px 8px;
}

.quantity-bar .s1{
    margin: -2px 3px 0 8px;
}

.quantity-bar .s2{
    margin: -2px 8px 0 2px;
}


.size-section{
    width: fit-content;
    margin: 0 20px 0 20px;
}

.addtocart{
    margin-left: -10px;
}

    
.cart .btn{
    font-size: 13px;
    padding: 8px 30px 8px 30px;
    
}


.cart img{
    margin-top: -8px;
    margin-right: 5px;
}

.whishlist p{
    font-size: 12px;
    font-weight: 500;
    margin-top: 7px;
    margin-left: 15px;

}

.whishlist span{
    margin-right: 6px;
}

.cart-section{
    margin-top: 30px;
}

.whishlist{
    margin-top: 30px;
}

.delivery{
    font-size: 11px;
    font-weight: 400;
    margin-left: -10px;
    margin-top: 25px;
    margin-bottom: 25px;
}








    
   
    
    











    .header{
        width: 100%;
    }

    .search{
        width: 103px;
        height: 48px;
        background-color: #ECEFF2;
        border-radius: 24px;
        opacity: 0.5;
    }


    

    .shoe-small{
        display: block;
        margin-top: 100px;
        text-align: center;
    }

    .shoe-img{
       display: none;
    }

    .fti{
        display: none;
    }
    

.fti .img{
    display: none;
} 

.fti1{
    display: inline;
    margin-left: 100px;
    margin-bottom: 30px;
}


.fti1 .img{
display: inline;
} 




.fti1 .img{
    width: 30px;
    height: 30px;
    background-color: #EDEDED;
    border-radius: 100%;
    text-align: center
} 

.fti1 .img:hover{
    cursor: pointer;
}

.badges{
    font-size: 12px;
    width: 17px;
    margin-left: 2px;
}




  }